<section class="supermainlayout" >
<div class=blockr ng-click="closesettings()"></div>
<div class= "leftnavclass" ng-swipe-left="closesettings()">
<header>
<div class="dashesLeft">
  		      <button ng-click="closesettings()" style="font-size: x-large;background:  rgba(255, 0, 0, 0.02);color: #FDFCFC;">
  		      <i class="icon icon-menu"></i></button>
  		   </div>
  		   
			<abbr title="">
		             <span class="headerspan">{{navigationMenu.header.title}}</span>
		   </abbr>
		   <div class="logoff"><button ng-click ="logoff()"style="font-size: larger;color: #F57676;"><i class="glyphicon glyphicon-off"></i></button></div>
</header>
<ul class="nonfilgridsholder" style="overflow-y:auto;" ng-style="{height:regListheight}">
<a ng-repeat ="i in navigationMenu.body.menu"  ui-sref="{{i.href}}" class="leftsidelist">
<span>{{i.title}}</span> 
<i class="icon icon-chevron-right pull-right"  ></i></a>
</ul>
</div>
<div class="nonfulfillClass" ng-swipe-right="opensettings()"  ui-view></div>
  </section>