   	 <alert ng-show="alert.msg != ''" type="alert.type" ng-swipe-right="alert.msg='' "   close="alert.msg='' ">{{alert.msg}}</alert>
  		   <header>
  		   <div class="dashes">
  		     
 	<button ng-click="gototestcases()" style="font-size: x-large;background: rgba(255, 0, 0, 0.02);;color: #FDFCFC;">
  		      <i class="icon icon-media-play rotleft" ></i>
  		   </button>
  		   </div>
  		   <abbr title="Register Employess here remove or transfer , activate or de activate them etc..">
		              <span class="headerspan">{{regHead.title}}</span>
		   </abbr>
		   <button tooltip-append-to-body='true' tooltip-placement="left" tooltip="save all "  ng-click ="saveruns()"class='center buttonAligner'> <i  style="background: #3EE2C1;"class="glyphicon  icon icon-checkmark footericon" > </i></button>
		   <button tooltip-append-to-body='true' tooltip-placement="left" tooltip="add issues"  ng-click ="addRunissue()"class='center buttonAligner'> <i class="glyphicon icon icon-plus footericon" > </i></button>
  		   </header>
  		 <!--   <footer>
  		       <div class=" NFlistsubflexes " >
				      <div class="halfflex">
				     	 <input   ng-change="filterModel.todate = (filterModel.todate<filterModel.fromdate) ? null : filterModel.todate"  placeholder = "from date"class="textaligneraside1" type= text datepicker-popup="shortDate" show-button-bar="false" show-weeks="false" ng-model="filterModel.fromdate"  max="filterModel.today">
				     	 <input  placeholder = "to date"class="textaligneraside1" type= text datepicker-popup="shortDate" show-button-bar="false" show-weeks="false" ng-model="filterModel.todate" min="filterModel.fromdate" max="filterModel.today">
				       </div>
				      <div class="halfflex"> 
<button ng-click ="gotoTestCases()"class='center buttonAligner'> <i class="glyphicon glyphicon-filter footericon" > </i></button>
				      </div>
		  	</div>
  		   </footer> -->
  		   <section  ng-style="{height:regListheight}" style="overflow-y: auto;background: rgb(236, 236, 236);">
				<ul class="nonfilgridsholder" >
				<div class="runlist" ng-show="regBody.runBoxmodel.length == 0 ">No RUNS available</div>
				<form name="runForm">
					<div ng-if="alert.jiraStatus=='Active'" ng-init = "alert['form'] = runForm" ng-repeat ="i in regBody.runBoxmodel | orderBy:'-runCount'"  class=" runlist">
						<span class="col-xs-2  ">
						 <!-- <span>RUN </span> -->
						 <span  ng-style="{background:i.color}" class=runNumbers>{{currentRunCount}}</span></span>
						 <div style="margin-top: 10px;"class="btn-group btn-group-lg col-xs-4  ">
						      <button type=button 
						      class="btn btn-{{i.status.list[0].cls}}"
						      ng-click="i.status.list[0].cls='success';
						               i.status.list[1].cls='default';
						               i.status.selectedResult = i.status.list[0].txt;ifrunsuccs();
						               ">
						      </button>
						      <button type=button
						      class="btn btn-{{i.status.list[1].cls}}"
						      ng-click="i.status.list[1].cls='danger';
						               i.status.list[0].cls='default';
						               i.status.selectedResult = i.status.list[1].txt;addRunissue()
						              ">
						      </button>
						 </div>
						 <div class="col-xs-6  ipClass2 ">
						  <select
							  style="width: 100%;"
							  ng-disabled="i.issueCatgory.disabled " 
							   ng-required="required"  
							  name="Employee Role"
							  ng-model="i.issueCatgory.selectedResult"  
							  ng-options ="p for p in i.issueCatgory.list">
							 </select>
 							<!-- <input class="ipClass" 
							ng-disabled="i.issueCount.disabled" 
					        ng-model="i.issueCount.selectedResult"
					        placeholder="{{i.issueCount.placeHolder}}"> -->
						 </div>
						 <div class="c col-xs-12" style="float: left;">
						 <div class="col-xs-4 col-md-4 center"  style="  font-size: medium;">
						 <span>Est Time</span><br>
						 <span>{{i.times.estTime.selectedResult}}</span>
						 </div>
						 <div class="col-xs-4 col-md-4 center">
						   <button ng-show="alert.buttns.strt"tooltip-append-to-body='true' tooltip-placement="left" tooltip="start timer"  ng-click="startTime()" class="btn btn-default "><i class="glyphicon glyphicon-play"></i></button>
						   <button ng-show="alert.buttns.hold"tooltip-append-to-body='true' tooltip-placement="left" tooltip="hold timer"  ng-click="holdTime()" class="btn btn-default "><i class="glyphicon glyphicon-pause"></i></button>
						   <button ng-show="alert.buttns.cont"tooltip-append-to-body='true' tooltip-placement="left" tooltip="continue timer"  ng-click="continueTime()" class="btn btn-default "><i class="icon icon-media-play"></i></button>
	           			   <button  ng-show="alert.buttns.end"tooltip-append-to-body='true' tooltip-placement="left" tooltip="end timer "  ng-click="stopTime()" class="btn btn-default  "  ><i class="glyphicon glyphicon-stop"></i> </button>
						 </div>
						 <div class="col-xs-4 col-md-4 center"  style="  font-size: medium;">
						 <span style="  font-size: medium;">Actual Time</span><br>
						 <span>{{times}}</span>
						 </div></div>
						 <div  class="rundesc" ng-repeat= "k in i.description">
								  <input    style="height: 100%;width:83%;border:none;"
								  type= text required
								  ng-disabled="k.disabled" 
								  ng-pattern = "/^([\d\w\s/])*$/"
							        placeholder="{{k.placeHolder}}"
								  ng-model="k.selectedResult"
								  name = "issuedesc  " 
								  list="issuedesc" >
									<datalist id="issuedesc">
									<select>
									<option value=""></option>
										<option ng-repeat ="subobj in runDescs" value="{{subobj}}">
									</select>
									</datalist>
						<button    style="margin-top:10px;z-index:99999;padding:13px;border: none;height: 50px;color: #FF6C6C;" 
							class="btn btn-default pull-right"
							ng-click="deleterunIssue(k)">
							<i class="icon icon-cross"></i>
						</button>
							</div>
					</div>
					</form>
					<div ng-show = "alert.moreBut"class="col-xs-12" style="float:left;"> 
							<button style="float:right;" ng-click="showprev()" class="btn btn-default">previous Runs <i class="icon icon-chevron-down"></i></button>
					</div>
					<div ng-show = "alert.lessbut"class="col-xs-12" style="float:left;"> 
							<button style="float:right;" ng-click="hideprev()"class="btn btn-default">hide  <i class="icon icon-chevron-up"></i></button>
					</div>
					
					<div class="runlist col-xs-12" ng-show="regBody.oldrunBoxmodel.length == 0 ">No Previous RUNS available</div>
						<div  ng-repeat ="i in regBody.oldrunBoxmodel | orderBy:'-runCount'"  class=" runlist">
						<span class="col-xs-2  ">
						 <!-- <span>RUN </span> -->
						 <span  ng-style="{background:i.color}" class=runNumbers>{{i.runCount}}</span></span>
						 <div style="margin-top: 10px;"class="btn-group btn-group-lg col-xs-4  ">
						      <button disabled type=button 
						      class="btn btn-{{i.status.list[0].cls}}"
						      ng-click="i.status.list[0].cls='success';
						               i.status.list[1].cls='default';
						               i.status.selectedResult = i.status.list[0].txt;ifrunsuccs();
						               ">
						      </button>
						      <button disabled  type=button
						      class="btn btn-{{i.status.list[1].cls}}"
						      ng-click="i.status.list[1].cls='danger';
						               i.status.list[0].cls='default';
						               i.status.selectedResult = i.status.list[1].txt;addRunissue()
						              ">
						      </button>
						 </div>
						 <div class="col-xs-6  ipClass2 ">
						  <select
							  style="width: 100%;"
							   disabled 
							  name="Employee Role"
							  ng-model="i.issueCatgory.selectedResult"  
							  ng-options ="p for p in i.issueCatgory.list">
							 </select>
 							<!-- <input class="ipClass" 
							ng-disabled="i.issueCount.disabled" 
					        ng-model="i.issueCount.selectedResult"
					        placeholder="{{i.issueCount.placeHolder}}"> -->
						 </div>
						 <div class="c col-xs-12" style="float: left;">
						 <div class="col-xs-6 col-md-6 center"  style="  font-size: medium;">
						 <span>Est Time</span><br>
						 <span>{{i.times.estTime.selectedResult}}</span>
						 </div>
						 <div class="col-xs-6 col-md-6 center"  style="  font-size: medium;">
						 <span style="  font-size: medium;">Actual Time</span><br>
						 <span>{{i.times.actTime.selectedResult}}</span>
						 </div></div>
						 <div  class="rundesc" ng-repeat= "k in i.description" style="border:none;">
								  <input    style="height: 100%;width:100%;border:none;"
								  type= text  
								   disabled 
								  ng-model="k.selectedResult"
								  name = "issue desc  " 
								   >
							</div>
					</div>
				</ul> 		   
  		   </section>
  		    <div>
  		    
 
</div>